digitalocean_access_token = "do-not-commit-real-token"
app_name                  = "async-job-pipeline"
region                    = "nyc1"
github_repo               = "amandayuelin/async-job-processing-pipeline-service"
github_branch             = "main"
infra_droplet_size        = "s-1vcpu-2gb"
api_instance_count        = 1
worker_instance_count     = 1
